@inherits LayoutComponentBase
<div class="page">
    <header class="site-header py-3">
        <div class="container">
            <NavMenu />
        </div>
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="site-footer mt-auto py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Contact Details</h5>
                    <p>
                        <strong>Oceanside Dental Centre</strong><br />
                        175 Corfield St <br />
                        Parksville, BC, V9P 2G1<br />
                        Phone: 250.586.4404<br />
                        Email: info@oceansidedentalcentre.com
                    </p>
                </div>
                <div class="col-md-4">
                     <h5>Quick Links</h5>
                     <ul class="list-unstyled">
                         <li><a href="">Home</a></li>
                         <li><a href="services">Services</a></li>
                         <li><a href="clinic">Our Clinic</a></li>
                         <li><a href="faq">FAQ</a></li>
                         <li><a href="contact">Contact Us</a></li>
                     </ul>
                </div>
                <div class="col-md-4">
                    <h5>Office Hours</h5>
                    <p>Mon - Fri: 8:00 AM - 4:00 PM<br>Sat - Sun: Closed</p>
                </div>
            </div>
            <div class="row pt-3 mt-3 border-top">
                <div class="col-12 text-center">
                    &copy; @DateTime.Now.Year Oceanside Dental Centre. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
