
<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 py-2">
    <div class="container-fluid px-0">
        <a class="navbar-brand py-0 d-flex align-items-center" href="">
            <img src="images/Logo.png" alt="Oceanside Dental Centre" height="100" class="d-inline-block align-text-top" />
        </a>
        <button class="navbar-toggler border-0" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon fs-2"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <NavLink class="nav-link fs-5 fw-bold mx-2 px-3 py-2" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link fs-5 fw-bold mx-2 px-3 py-2" href="clinic">Our Clinic</NavLink>
                </li>
                 <li class="nav-item">
                    <NavLink class="nav-link fs-5 fw-bold mx-2 px-3 py-2" href="biografy">Biografy</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link fs-5 fw-bold mx-2 px-3 py-2" href="services">Services</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link fs-5 fw-bold mx-2 px-3 py-2" href="contact">Contact Us</NavLink>
                </li>
                 <li class="nav-item">
                    <NavLink class="nav-link fs-5 fw-bold mx-2 px-3 py-2" href="faq">FAQ</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
